<h1 id="ville-de-montréal">Ville de Montréal</h1>
<h2 id="contrats">Contrats</h2>
<pre><code>Version : 1.0.1
URL     : http://ffctn.com/a/contrats
Git     : https://bitbucket.org/ffunction/villedemontreal-contrats-public
Updated : 2015-04-24</code></pre>
<h3 id="data">Data</h3>
<p>The data is collected from a custom API provided by OpenNorth and available (as staging) at <a href="http://ovc-stage.herokuapp.com/">http://ovc-stage.herokuapp.com/</a>.</p>
<h4 id="api">API</h4>
<p>The API allows to query the City of Montréal contracts as an Open-Contracting compliant JSON format. You can have glimpse of the data by opening the following URL:</p>
<p><a href="http://ovc-stage.herokuapp.com/api/releases">http://ovc-stage.herokuapp.com/api/releases</a></p>
<h5 id="contracts">Contracts</h5>
<p><em>Contracts</em> are defined mainly by the following properties:</p>
<ul>
<li><code>id:string</code>, the contract <code>id</code> as a string (but in practice, a stringified int)</li>
<li><code>ocid:string</code>, the open contracting id for the contract, as a string.</li>
<li><code>date:&quot;YYYY-MM-DDTHH:MM:SS[-+]HH:MM&quot;</code> as a string in ISO date time with delta to UTC</li>
<li><code>tag:string</code>, can be <code>award</code> or... TBD</li>
<li><code>tender:Tender</code>, see below. Note that you should use values from awards first as they override the ones defined in <code>tender</code>.</li>
<li><code>buyer:Buyer</code>, see below</li>
<li><code>awards:Award</code>, see below</li>
<li><code>language:String</code> the language code, usually <code>&quot;fr&quot;</code></li>
</ul>
<p>Note the following values of interest:</p>
<ul>
<li><code>repartition</code> as <code>awards.repartition</code></li>
<li><code>direction</code> (ie. the parent organisation of services) as <code>buyerl.suborganizationof.name</code></li>
<li><code>decision number</code> as <code>awards[0].items[0].id</code></li>
<li><code>case number</code> as <code>awards[0].id</code></li>
</ul>
<pre><code>{
    &quot;awards&quot;:[...],
    &quot;buyer&quot;:{...},
    &quot;date&quot;: &quot;2012-12-20T00:00:00-05:00&quot;,
    &quot;id&quot;: &quot;1124338001&quot;,
    &quot;language&quot;: &quot;fr&quot;,
    &quot;ocid&quot;: &quot;ocds-a1234567-mt-20ba41bab435952d12c63ddf03b3365ac71f5687&quot;,
    &quot;tag&quot;: &quot;award&quot;,
    &quot;tender&quot;:{...},
}</code></pre>
<h5 id="tenders">Tenders</h5>
<p><em>Tenders</em> are defined bu the following properties:</p>
<ul>
<li><code>title:string</code> the title for the tender</li>
<li><code>description:string</code> the description for the tender. They are in French and oddly enough, in ALL-CAPS.</li>
<li><code>id:string</code> a string identifier for the tender</li>
<li><code>status:[complete|...TBD]</code> the status of the tender</li>
<li><code>value:int</code> the value for the contract</li>
<li><code>items:[Item]</code> a list of items with the following properties
<ul>
<li><code>id:string</code> seems to be the same as the parent tender's <code>id</code></li>
<li><code>quantity:int</code> the quantity of items</li>
<li><code>description:string</code> a usually ALL-CAPS string</li>
</ul></li>
<li><code>procuringEntity</code> which has the following properties:
<ul>
<li><code>address</code> as <code>{countryName,locality,postalCode,region,streeAddress}</code></li>
<li><code>name:string</code></li>
</ul></li>
</ul>
<pre><code>{
    &quot;description&quot;: &quot;AUTORISER LA PROLONGATION POUR UNE PÉRIODE ADDITIONNELLE DE
    12 MOIS SE TERMINANT LE 31 DÉCEMBRE 2013, DES ENTENTES-CADRES CONCLUES AVEC
    LÉCUYER &amp; FILS LTÉE, RÉAL HUOT INC. ET WOLSELEY CANADA INC., POUR LA
    FOURNITURE SUR DEMANDE DE PIÈCES EN FONTE POUR AQUEDUC ET ÉGOUT, TUBES EN
    CUIVRE, TUYAUX ET RACCORDS EN PVC POUR ÉGOUT (CM09 0010), SUITE À L&#39;APPEL
    D&#39;OFFRES PUBLIC # 08-10712. &quot;,
    &quot;id&quot;: &quot;CM12 1096&quot;,
    &quot;items&quot;:[
        {
            &quot;description&quot;: &quot;DIRECTION DE L&#39;APPROVISIONNEMENT. ENTENTES CADRES RÉPARTITION EN FONCTION DE LA CONSOMMATION&quot;,
            &quot;id&quot;: &quot;CM12 1096&quot;,
            &quot;quantity&quot;: 1
        }
    ],
    &quot;procuringEntity&quot;: {
        &quot;address&quot;:{
                &quot;countryName&quot;: &quot;Canada&quot;,
                &quot;locality&quot;: &quot;Montréal&quot;,
                &quot;postalCode&quot;: &quot;H2Y 1C6&quot;,
                &quot;region&quot;: &quot;QC&quot;,
                &quot;streetAddress&quot;: &quot;275 Rue Notre-Dame Est, Montréal&quot;
            },
            &quot;name&quot;: &quot;Conseil municipal&quot;
        },
    &quot;status&quot;: &quot;complete&quot;,
    &quot;title&quot;: &quot;Autre&quot;,
    &quot;value&quot;: 0
}</code></pre>
<h5 id="api-urls">API URLs</h5>
<dl>
<dt><code>/api/releases</code> <a href="http://ovc-stage.herokuapp.com/api/releases">⎇</a></dt>
<dd><p>Allows to query the contracts without a specific grouping.</p>
<ul>
<li><code>format=[json|csv|pdf|ocds|xslx]</code> allows to get the results under the specific format. <code>json</code> is the default.</li>
</ul>
<p>Example</p>
<ul>
<li>list of all contracts <a href="http://ovc-stage.herokuapp.com/api/releases?limit=10000000">http://ovc-stage.herokuapp.com/api/releases?limit=10000000</a></li>
</ul>
</dd>
<dt><code>/api/releases/by_supplier</code> <a href="http://ovc-stage.herokuapp.com/api/releases/by_supplier?limit=10000000">⎇</a></dt>
<dd><p>Returns a list of contracts grouped by supplier</p>
</dd>
<dt><code>/api/releases/by_buyer</code> <a href="http://ovc-stage.herokuapp.com/api/releases/by_buyer?limit=10000000">⎇</a></dt>
<dd><p>Returns a list of contracts grouped by buyer</p>
</dd>
<dt><code>/api/releases/by_value?bucket={min:int},{max:int},{segments:int}</code></dt>
<dd><p>Returns a list of contracts grouped by amounts. Amounts will be aggregated according to buckets specified as an increasing semicolon-separated list of values.</p>
<ul>
<li><code>min</code> is the minimum contract amount</li>
<li><code>max</code> is the maximum contract amount</li>
<li><code>segments</code> is the number of quantiles</li>
</ul>
<p>Ex:</p>
<ul>
<li><a href="http://ovc-stage.herokuapp.com/api/releases/by_value?bucket=0,1000000,49">api/releases/by_value=bucket=0,100000,49</a></li>
</ul>
</dd>
<dt><code>api/by_procuring_entity</code> <a href="http://ovc-stage.herokuapp.com/api/releases/by_procuring_entity?limit=10000000">⎇</a></dt>
<dd><p>Return grouped of contracts by procuring entity</p>
</dd>
<dt><code>/api/releases/by_month</code> <a href="http://ovc-stage.herokuapp.com/api/releases/by_month?limit=10000000">⎇</a></dt>
<dd><p>Returns groups of contracts by month</p>
</dd>
<dt><code>/api/releases/by_activity</code> <a href="http://ovc-stage.herokuapp.com/api/releases/by_activity?limit=10000000">⎇</a></dt>
<dd><p>Returns groups of contracts by activity. Activity refers to the specific main &quot;theme&quot; of the contract (transport, security, etc)</p>
</dd>
<dt><code>/api/release/{OCID}</code></dt>
<dd><p>Retrieves the information for the given contract, using the open contracting id for the contract (this looks like <code>ocds-aXXXXXXX-mt-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</code>).</p>
<p>Note that the OCDS ids are not stable -- they can be regenerated and not match the same contract, or even not resolve at all.</p>
</dd>
<dt><code>/api/treemap?parent=activity&amp;child=buyer</code> <a href="http://ovc-stage.herokuapp.com/api/treemap?parent=activity&amp;child=buyer">⎇</a></dt>
<dd><p>Retrives the information to be used in the treemap visualization, presenting a breakdown of buyers per activity.</p>
</dd>
<dt><code>/api/treemap?parent=buyer&amp;child=supplier&amp;activity=Infrastructures</code> <a href="http://ovc-stage.herokuapp.com/api/treemap?parent=buyer&amp;child=supplier&amp;activity=Infrastructures">⎇</a></dt>
<dd><p>Retrives the information to be used in the treemap visualization, presenting a breakdown of suppliers by buyer within the given activity.</p>
</dd>
</dl>
<h4 id="api-parameters">API Parameters</h4>
<p>The queries all support the following options:</p>
<dl>
<dt><code>q=&lt;string&gt;</code></dt>
<dd><p>full-text search of the given query string.</p>
</dd>
<dt><code>value_[gt|lt]=&lt;amount&gt;</code></dt>
<dd><p>queries contract with an amount greater or lower than the given threshold, inclusively.</p>
</dd>
<dt><code>date_[gt|lt]=&lt;YYYY-MM-DD&gt;</code></dt>
<dd><p>queries contract with an amount greater or lower than the given date threshold, inclusively.</p>
</dd>
<dt><code>buyer=&lt;buyer id/slug&gt;,...</code></dt>
<dd><p>restricts results to the ones featuring the given buyer. Takes a semicolon-separated list of buyers.</p>
</dd>
<dt><code>supplier=&lt;supplier id/slug&gt;;...</code></dt>
<dd><p>restricts results to the ones featuring the given supplier. Takes a semicolon-separated list of suppliers.</p>
</dd>
<dt><code>supplier_size=[1|2|3];...</code></dt>
<dd><p>restricts results to suppliers of the given size. Takes a semicolon-separated list of tiers.</p>
</dd>
<dt><code>procuring_entity=&lt;procuring entity id/slug&gt;;...</code></dt>
<dd><p>restricts results to the ones featuring the given procuring entity. Takes a semicolon-separated list of tiers.</p>
</dd>
<dt><code>activity=&lt;string&gt;;...</code></dt>
<dd><p>restricts results to the given activity. Takes a semicolon-separated list of activities. Note that activities have no &quot;slug&quot;, so you can use the activity string as-is.</p>
</dd>
<dt><code>order_by:[value|id|date|buyer]</code></dt>
<dd><p>Sorts the result by contract <code>value</code>, contract <code>id</code>, <code>date</code> or <code>buyer</code></p>
</dd>
<dt><code>limit=&lt;integer=50&gt;</code></dt>
<dd><p>Limits the number of matching contracts, 50 by default.</p>
</dd>
<dt><code>offset=&lt;integer=0&gt;</code></dt>
<dd><p>Offset in paginated search, 0 by default.</p>
</dd>
</dl>
<h1 id="libraries">Libraries</h1>
<p>This application uses <a href="http://jquery.com/">jQuery</a> (<a href="https://jquery.org/license/">MIT License</a>). All other code is copyright <a href="http://ffctn.com">FFunction</a>.</p>
<h1 id="license">License</h1>
<p>Copyright (c) 2015, <a href="http://ffctn.com">FFunction</a> (1165373771 Québec inc.) All rights reserved.</p>
<p>Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:</p>
<p>Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. Neither the name of the FFunction inc (CANADA) nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.</p>
<p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS &quot;AS IS&quot; AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>
